h1{
    color: tomato;
    background-color: lightblue;
}

h2{
    color: lightgreen;
    background-color: purple;
}

/* 
lalalala lalala*/

p{
    color: purple;
}

body{
    background-color: lightgreen;
}